#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Terminal Two
Exec=com.endlessnetwork.terminaltwo.sh
Terminal=false
Type=Application
Icon=com.endlessnetwork.terminaltwo
StartupWMClass=Terminal Two
Comment=Terminal Two
Categories=Game;LearnToCode;
Keywords=game;programming;puzzle;casual;
